CONFIG_NAME = full
CFLAGS += -DCONFIG_NAME=\"$(CONFIG_NAME)\"

CFLAGS += -DENABLE_MEMCHECKS
CFLAGS += -DENABLE_MEMACCESSES
CFLAGS += -DSHADOW_ALLOCATIONS
CFLAGS += -DENABLE_EFLAGS_SAVEREST
CFLAGS += -DLMEM_REGISTER_ANALYSIS
CFLAGS += -DICF_PREDICT
CFLAGS += -DFAST_CACHE_LOOKUP
#CFLAGS += -DFAST_RET
CFLAGS += -DREGISTER_FOR_ARFLAGS